{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>User Profile</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static  'style.css' %}">
    </head>
    <body>
        <div class="main-container">
            <div class="topnav" id="myTopnav">
                <a class="logo" href="#">
                    <img src="{% static  'images/kartoza-logo-only.png' %}" alt="">
                </a>
                <a class="link" href="#home" class="active">Sign in</a>
                <a class="link icon" href="javascript:void(0);"  onclick="myFunction()">
                  <i class="fa fa-bars"></i>
                </a>
            </div>
              
            <div class="content" style="text-align:center">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>